@using Sudoku.Classes;
@using Sudoku.Models;
@inject SweetAlertService Swal;
@inherits OwningComponentBase<DbService>
<div class="sudoku-inputs">
	@{
		if (HasUploadFileField)
		{
			<div hidden = "@(Sudoku!=null && !Sudoku.Solved)">
				<h1>Upload a sudoku to start!</h1>
				<label>
					Upload a sudoku:
					<InputFile class="button-purple" OnChange="@OnInputFileChanged"/>
				</label>
			</div>
			<br/>
		}
	}
	<button class="button-purple" hidden ="@(Sudoku==null)" disabled="@(!inactive)" @onclick="Start">Start</button>
	<button class="button-purple" hidden="@inactive" @onclick="ResetSudoku">Reset</button>
	<button class="button-purple" hidden="@inactive" disabled="@(!Sudoku?.SolvingProzessFinished)" @onclick="GetHint">Hint</button>
	<button class="button-purple" hidden="@inactive" disabled="@(!Sudoku?.SolvingProzessFinished)" @onclick="GetResult">End</button>
	<button class="button-purple" hidden="@inactive" disabled="@(!Sudoku?.SolvingProzessFinished)" @onclick="Save">Save</button>
	<br/>
</div>
<div hidden ="@(!isRunning)" class="timer-container">Time: @timeSpan.ToString(@"hh\:mm\:ss")</div>
<section class="board">
	@{
		if (Sudoku != null)
		{
			for (int i = 0; i < Sudoku.Board.GetLength(0); i++)
			{
				for (int j = 0; j < Sudoku.Board.GetLength(1); j++)
				{
					int currentRowIdx = i;
					int currentColIdx = j;
					string cssClassTag = "tile";

					if(Sudoku.IsInitialFieldStateFilled(i, j))
					{
						cssClassTag += " fieldInitialFilled";
					}

					if (i == 0)
					{
						cssClassTag += " tile-firstRow";
					}
					if (j == 0)
					{
						cssClassTag += " tile-firstCol";
					}

					<div tabindex="-1" @onkeydown="KeyboardEventHandler" class=@cssClassTag @onclick="() => FieldClicked(currentRowIdx, currentColIdx)">@Sudoku.Board[i, j]</div>
				}
			}
		}
	}
</section>

@code {
	private struct Field
	{
		public int RowIdx;
		public int ColIdx;

		public Field(int rowIdx, int colIdx)
		{
			RowIdx = rowIdx;
			ColIdx = colIdx;
		}
	}

	private SudokuCreator sudokuCreator = new SudokuCreator();
	private SudokuSolver sudokuSolver = new SudokuSolver();

	private Field activeField = new Field(-1, -1);
	private bool inactive = true;

	[Parameter]
	public Sudoku? Sudoku { get; set; } = null;
	[Parameter]
	public bool HasUploadFileField { get; set; } = true;
	[Parameter]
	public int CurrentSudokuModelId { get; set; } = -1;

	#region Board Methods

	//change number of selected field
	private void KeyboardEventHandler(KeyboardEventArgs args)
	{
		if (Sudoku != null && activeField.RowIdx != -1 && activeField.ColIdx != -1)
		{
			string key = args.Key;

			//Console.WriteLine("Key Pressed is " + key);
			//Console.WriteLine("Event Type " + args.Type);

			int inputNumber;
			if (int.TryParse(key, out inputNumber))
			{
				Sudoku.ChangeNumberOfField(activeField.RowIdx, activeField.ColIdx, Convert.ToInt32(args.Key));
			}
		}
	}

	//set selected field
	private void FieldClicked(int rowIdx, int colIdx)
	{
		if (Sudoku != null && !inactive)
		{
			//Console.WriteLine("rowIdx: {0}, colIdx: {1}", rowIdx, colIdx);
			//avoid changing field if its initially filled
			if (Sudoku.IsInitialFieldStateFilled(rowIdx, colIdx))
			{
				//Console.WriteLine("Can't change field value if its initialy filled");
				activeField.RowIdx = -1;
				activeField.ColIdx = -1;
			}
			else
			{
				activeField.RowIdx = rowIdx;
				activeField.ColIdx = colIdx;
			}
		}
	}
	#endregion

	#region Button Methods

	//upload sudoku
	private async Task OnInputFileChanged(InputFileChangeEventArgs e)
	{
		//check for file type

		var file = e.File;
		long maxsize = 512000;

		var buffer = new byte[file.Size];
		await file.OpenReadStream(maxsize).ReadAsync(buffer);
		string fileContent = System.Text.Encoding.UTF8.GetString(buffer);

		try
		{
			Sudoku = sudokuCreator.LoadFromFile(fileContent);
			//await AlertBox.DisplayAlert(Swal, "Press start and try to solve it!");
		}
		catch (Exception ex)
		{
			await AlertBox.DisplayAlert(Swal,ex.Message);
			Console.WriteLine(ex.Message);
		}
	}

	private void ResetSudoku()
	{
		if (Sudoku != null)
		{
			Sudoku.Reset();
		}
	}

	private async void SolveSudoku()
	{
		if (Sudoku != null)
		{
			try
			{
				Sudoku.TryUncoverSolution();
			}
			catch (Exception e)
			{
				await AlertBox.DisplayAlert(Swal, e.Message);
				Console.WriteLine(e.Message);
			}
		}
	}

	private async void GetResult()
	{
		if (Sudoku != null)
		{
			try
			{
				if (Sudoku.IsCorrectSoulution())
				{
					StopSudokuProzess();
					await AlertBox.DisplayAlert(Swal, "Correct Solution!\n Your time: " + (int)timeInSeconds + " seconds");
					//save
					await Save();
					Sudoku = null;
					InvokeAsync(StateHasChanged);
				}
				else
				{
					//pause
					StopStopwatch();
					var result = await AlertBox.DisplayAlertWithButtons(Swal, "Wrong Solution! Continue or Cancel?", "Continue", "Show Solution");

					//continue
					if (!string.IsNullOrEmpty(result.Value))
					{
						StartStopwatch();
					}
					//end
					else
					{
						SolveSudoku();
						StopSudokuProzess();
						//save
						await Save();
						InvokeAsync(StateHasChanged);
					}
				}
			}
			catch (Exception e)
			{
				await AlertBox.DisplayError(Swal, e.Message);
			}
		}
	}

	private void StopSudokuProzess()
	{
		ResetStopwatch();
		inactive = true;
		Sudoku.Solved = true;
	}

	private async void GetHint()
	{
		if (Sudoku != null)
		{
			try
			{
				Sudoku.TryUncoverRandomField();
			}
			catch (Exception e)
			{
				await AlertBox.DisplayError(Swal, e.Message);
			}
		}
	}

	private async void Start()
	{
		if (Sudoku != null)
		{
			if (sudokuSolver.IsSudokuPossible(Sudoku))
			{
				var action = new Action(() =>
				{
					sudokuSolver.GenerateSolution(Sudoku);
				});

				Task generateSolutionTask = new Task(action);
				//start generate solution in background
				generateSolutionTask.Start();

				StartStopwatch();
				inactive = false;
			}
			else
			{
				await AlertBox.DisplayAlert(Swal, "Sudoku not possible to solve (dublicate in collumn, row or block)!");
			}
		}
	}

	private async Task Save()
	{
		if (Sudoku != null)
		{
			SudokuModel sudokuModel = new SudokuModel();
			sudokuModel.Time = timeInSeconds > 0 ? (int)timeInSeconds : (int)timeSpan.TotalSeconds;
			sudokuModel.CurrentBoard = sudokuCreator.ConvertIntArrayToBoardString(Sudoku.Board);
			sudokuModel.OriginalBoard = sudokuCreator.ConvertIntArrayToBoardString(Sudoku.OriginalBoard);
			sudokuModel.Difficulty = "Medium";

			if (Sudoku.Solved)
			{
				sudokuModel.SolvedBoard = sudokuCreator.ConvertIntArrayToBoardString(Sudoku.SolvedBoard);
				sudokuModel.Solved = true;
			}

			//not yet saved: new entry
			if(CurrentSudokuModelId == -1)
			{
				await SaveNewEntry(sudokuModel);
			}
			//already saved: update entry
			else
			{
				//set Id of sudoku model to update
				sudokuModel.Id = CurrentSudokuModelId;
				await SaveExistingEntry(sudokuModel);
			}
		}
	}

	private async Task SaveNewEntry(SudokuModel sudokuModel)
	{
		var result = @Service.AddSudokuModelAsync(sudokuModel);

		if (result != null)
		{
			await AlertBox.DisplayAlert(Swal, "Sudoku successfully saved!");
			CurrentSudokuModelId = result.Result;
		}
		else
		{
			await AlertBox.DisplayError(Swal, "Error while saving sudoku!");
		}
	}

	private async Task SaveExistingEntry(SudokuModel sudokuModel)
	{
		var result = @Service.UpdateSudokuModelAsync(sudokuModel);

		if(result != null)
		{
			if (result.Result)
			{
				await AlertBox.DisplayAlert(Swal, "Sudoku successfully updated!");
			}
			else
			{
				await AlertBox.DisplayError(Swal, "Error while updating sudoku!");
			}
		}
		else
		{
			await AlertBox.DisplayError(Swal, "Error while updating sudoku!");
		}
	}

	#endregion

	#region StopWatch Component
	private TimeSpan timeSpan;
	private bool isRunning = false;
	private DateTime startTime;
	private Timer timer;
	private double timeInSeconds;

	private void StartStopwatch()
	{
		if (!isRunning)
		{
			startTime = DateTime.Now - timeSpan;
			timer = new Timer(UpdateTime, null, 0, 1000);
			timeInSeconds = 0;
			isRunning = true;
		}
	}

	private void UpdateTime(object state)
	{
		timeSpan = DateTime.Now - startTime;
		InvokeAsync(StateHasChanged);
	}

	private void StopStopwatch()
	{
		if (isRunning)
		{
			timer?.Dispose();
			isRunning = false;
		}
	}

	private void ResetStopwatch()
	{
		StopStopwatch();
		timeInSeconds = timeSpan.TotalSeconds;
		timeSpan = TimeSpan.Zero;
	}
	#endregion
}

