@page "/SudokuCollection"
@using Sudoku.Classes;
@using Sudoku.Classes.Enums;
@using Sudoku.Models;
@inject NavigationManager NavigationManager
@inherits OwningComponentBase<DbService>
@using Microsoft.AspNetCore.Components.Forms
<PageTitle>Your Sudokus</PageTitle>
<h1>Your Sudokus</h1>
<div>
	<table class="table">	
		<thead>
			<tr>
				<th>Original Board</th>
				<th>Current Board</th>
				<th>Solved Board</th>
				<th>Difficulty</th>
				<th>Help</th>
				<th>Time</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in sudokuModels)
		{
			string detailUrl = "collection/" + item.Id;
			string solveSudokuUrl = "SolveSudoku/" + item.Id;

			string solveSudokuUrlText = item.Solved ? "Solve Again" : "Solve";

			<tr>
				<td class = "table-data">@item.OriginalBoard</td>
				<td class = "table-data">@item.CurrentBoard</td>
				<td class = "table-data">@item.SolvedBoard</td>
				<td>@item.Difficulty</td>
				<td>@item.Help</td>
				<td>@item.Time</td>
				<td>
					<div class="btn-container">
						<button class="btn btn-primary" @onclick="(() => EditSudoku(item))">Edit</button>
					</div>
					<div class="btn-container">
						<NavLink href="@solveSudokuUrl" class="nav-active">@solveSudokuUrlText</NavLink>
					</div>	
					<div class="btn-container">
						<NavLink href="@detailUrl" class="nav-active">Detail</NavLink>
					</div>				
				</td>
			</tr>
		}
		</tbody>
	</table>
	<button class="btn btn-success" @onclick="AddNewSudoku">Add New Sudoku</button>
</div>

@if (ShowPopup)
{
	<div class="modal" tabindex="-1" style="display:block" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Edit Sudoku</h3>
					<!-- Button to close the popup -->
					<button type="button" class="close"@onclick="ClosePopup">
						<span aria-hidden="true">X</span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<label>Upload a sudoku:
							<InputFile class="button-purple" OnChange="@OnInputFileChanged"/>
						</label>
					</div>
					<br/>

					<EditForm Model="@currentSudokuModel" OnValidSubmit="@SaveSudoku">
						<DataAnnotationsValidator />
						<ValidationSummary />
						<p>
							<label>
								Original Board:
								<InputText id="OriginalBoard" @bind-Value="currentSudokuModel.OriginalBoard"/>
							</label>
						</p>
						<p>
							<label>
								Difficulty:
								<InputSelect Name="Difficulty" @bind-Value="currentSudokuModel.Difficulty">
									<option value="Easy">Easy</option>
									<option value="Medium">Medium</option>
									<option value="Hard">Hard</option>
								</InputSelect>
							</label>
						</p>
						<br/>
						<button class="btn btn-success" type="submit">Save</button>
					</EditForm>
					@if (currentSudokuModel.Id > 0)
					{                                    
						<button class="btn btn-danger" @onclick="DeleteSudoku">Delete</button>
					}
				</div>
			</div>
		</div>
	</div>
}

@code {

	List<SudokuModel> sudokuModels = new List<SudokuModel>();

	SudokuModel currentSudokuModel = new SudokuModel();
	bool ShowPopup = false;

	protected override async Task OnInitializedAsync()
	{
		sudokuModels = await @Service.GetSudokuModelsAsync();
	}

	private async Task OnInputFileChanged(InputFileChangeEventArgs e)
	{
		if (currentSudokuModel != null)
		{
			//text file
			if (e.File.ContentType != "text/plain")
			{
				return;
			}

			var file = e.File;
			long maxsize = 512000;

			var buffer = new byte[file.Size];
			await file.OpenReadStream(maxsize).ReadAsync(buffer);
			string fileContent = System.Text.Encoding.UTF8.GetString(buffer);

			currentSudokuModel.OriginalBoard = fileContent;
		}
	}

	void ClosePopup()
	{
		// Close the Popup
		ShowPopup = false;
	}
	void AddNewSudoku()
	{
		currentSudokuModel = new SudokuModel();
		// Set Id to 0 so we know it is a new record
		currentSudokuModel.Id = 0;
		ShowPopup = true;
	}

	void EditSudoku(SudokuModel sudokuModel)
	{
		// Set the selected Sudoku as the current Sudoku
		currentSudokuModel = sudokuModel;
		ShowPopup = true;
	}

	async Task DeleteSudoku()
	{
		ShowPopup = false;
		var result = @Service.DeleteSudokuModelAsync(currentSudokuModel);
		//refresh
		sudokuModels = await @Service.GetSudokuModelsAsync();
	}

	async Task SaveSudoku()
	{
		ShowPopup = false;
		// A new sudoku will have the Id set to 0
		if (currentSudokuModel.Id == 0)
		{
			SudokuModel newSudokuModel = new SudokuModel();
			newSudokuModel.OriginalBoard = currentSudokuModel.OriginalBoard;
			newSudokuModel.CurrentBoard = currentSudokuModel.OriginalBoard;
			newSudokuModel.Difficulty = currentSudokuModel.Difficulty;
			//set time and help to default value
			newSudokuModel.Time = 0;
			newSudokuModel.Help = Enum.GetName(typeof(HelpTypes), HelpTypes.Nothing);
			// Save the result
			var result = @Service.AddSudokuModelAsync(newSudokuModel);
		}
		else
		{
			// This is an update
			var result = @Service.UpdateSudokuModelAsync(currentSudokuModel);
		}
		// refresh
		sudokuModels = await @Service.GetSudokuModelsAsync();
	}
}
